<h1>Example Handlebars Template</h1>

<p>This is a {{ quality }} example.</p>

<h2>#each</h2>

<ul class="people">
  {{#each people}}
    <li>{{this.firstName}} {{this.lastName}}</li>
  {{/each}}
</ul>
